<div class="post-content">
    <p>
        Durante as últimas semanas, <a href="https://connect.sensiolabs.com/api/alternates/4aed4f5d-e0cb-4320-902f-885fddaa7d15"></a>
        Febién Potencier publicou no meu blog pessoal uma série de posts sobre a sua visão do Symfony 4.
        O último artigo da série até agora demonstra como <a href="#">inicializar um projeto com o Symfony 4</a>
        (usando o Symfony 3.3).
    </p>

    <p>
        Se você quiser saber mais, aqui está a lista completa dos posts atualmente publicados no blog sobre este assunto:
    </p>

    <ul>
        <li><a href="https://medium.com/@fabpot/fabien-potencier-4574622d6a7e">Symfony 4: Crie suas Aplicações</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-monolith-vs-micro-52dc6b98c0c5">Symfony 4: Monolith vs Micro</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-best-practices-b4bbd6a9c994">Symfony 4: Melhores Práticas</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-directory-structure-5b84bd1ce65a">Symfony 4: Strutura dos seus Diretórios</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-automate-your-workflow-fbbf609b5a1d">Symfony 4: Automatize seu fluxo de trabalho</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-contributing-recipes-2f489dc6f645">Symfony 4: Contribuição de algumas receitas</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-a-small-screencast-cf6511823f">Symfony 4 : Quem é quem…</a></li>
        <li><a href="https://medium.com/@fabpot/symfony-4-a-quick-demo-da7d32be323">Symfony 4: Uma demonstração rápida</a></li>
    </ul>

    <p>Tenha uma boa leitura!</p>

</div>