<div id="sidebar" class="col-sm-3">
    <div id="sidebar-content">
        <div class="submenu">

            <ul class="list_submenu list-unstyled l_tinynav1">


                <li class="">
                    <a href="http://symfony.com/doc/3.0/book/index.html" target="_blank" rel="nofollow">Symfony, O Livro</a>
                </li>
                <li class="">
                    <a href="http://symfony.com/doc/3.0/cookbook/index.html" target="_blank" rel="nofollow">Symfony Cookbook</a>
                </li>
                <li class="">
                    <a href="http://symfony.com/doc/3.0/components/index.html" target="_blank" rel="nofollow">Componentes de Symfony</a>
                </li>
                <li class="">
                    <a href="http://symfony.com/doc/3.0/best_practices/index.html" target="_blank" rel="nofollow">Melhores práticas</a>
                </li>
                <li class="">
                    <a href="http://symfony.com/doc/bundles/" target="_blank" rel="nofollow">Bundles de Symfony</a>
                </li>
                <li class="">
                    <a href="http://symfony.com/doc/3.0/reference/index.html" target="_blank" rel="nofollow">Referências</a>
                </li>
                <li class="">
                    <a href="http://trainings.sensiolabs.com/" target="_blank" rel="nofollow">Treinamento Symfony</a>
                </li>


            </ul>
            <label for="tinynav1" class="tinynav_label tinynav1_label">Menu</label>
            <select id="tinynav1" class="tinynav tinynav1">
                <option value="/doc/3.0/book/index.html">Symfony Book</option>
                <option value="/doc/3.0/cookbook/index.html">Symfony Cookbook</option>
                <option value="/doc/3.0/components/index.html">Symfony Components</option>
                <option value="/doc/3.0/best_practices/index.html">Symfony Best Practices</option>
                <option value="/doc/bundles/">Symfony Bundles</option>
                <option value="/doc/3.0/reference/index.html">Symfony Reference</option>
                <option value="http://trainings.sensiolabs.com/" selected="selected">Symfony Training</option>
            </select>
        </div>

        <div class="toc">
            <h4>Table of Contents</h4>
            <div class="toc-content">
                <ul>
                    <li><a class="reference internal" href="{{ path('panorama') }}">Panorama Geral</a><ul>
                    <li><a class="reference internal" href="{{ path('download') }}">Instalar Symfony</a></li>
                    <li><a class="reference internal" href="#entenda-os-fundamentos">Entenda os Fundamentos</a>
                        <ul>
                            <li><a class="reference internal" href="#acoes-e-controladores">Ações e Controladores</a></li>
                            <li><a class="reference internal" href="#roteamento">Roteamento</a></li>
                            <li><a class="reference internal" href="#templates">Templates</a></li>
                        </ul>
                    </li>
                    <li><a class="reference internal" href="#trabalhando-com-ambientes">Trabalhando com Ambientes</a><ul>
                            <li><a class="reference internal" href="#que-e-um-ambiente">Que é um Ambiente?</a></li>
                        </ul>
                    </li>
                    <li><a class="reference internal" href="#pensamentos-finais">Pensamentos Finais</a></li>
                </ul>
                    </li>
                </ul>

            </div>
        </div>

        <div class="ads">
            <div class="ad" id="ad_jobs"><h3><span style="background-color: #0088cc; color: #fff; padding: 0 4px">Job</span> <a href="http://jobs.sensiolabs.com/BR/Freelance/distantjob-php-developer-1">DistantJob</a></h3><div>Rio De Janeiro, Brazil<br>PHP Developer</div><div><cite>jobs.sensiolabs.com</cite></div></div>
            <div class="ad" id="ad_trainings_1">
                <h3><a href="http://trainings.sensiolabs.com/en/training/getting-started-with-symfony2">Master Symfony2 fundamentals</a></h3>
                <div>Be trained by SensioLabs experts (2 to 6 day sessions -- French or English).</div>
                <div><cite>trainings.sensiolabs.com</cite></div>
            </div>
            <div class="ad" id="ad_support_1">
                <h3><a href="http://sensiolabs.com/en/support/sensiolabs_support.html">Discover the SensioLabs Support</a></h3>
                <div>Access to the SensioLabs Competency Center for an exclusive and tailor-made support on Symfony</div>
                <div><cite>sensiolabs.com</cite></div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#ad_trainings_1").click(function () {
                    _gaq.push(['_trackEvent', 'Ads', 'Ads', 'trainings_1']);
                });
                $("#ad_support_1").click(function () {
                    _gaq.push(['_trackEvent', 'Ads', 'Ads', 'support_1']);
                });
            });
        </script>
        <div class="ads">
            <a id="ad-blackfire" href="https://blackfire.io/24-days">
                <img
                    src="{{ asset('bundles/app/img/blackfire-profiler.png') }}"
                    class="img-responsive"
                    alt="Blackfire Profiler Fire up your PHP Apps Performance">
            </a>
            <a id="ad-insight" href="https://insight.sensiolabs.com/">
                <img
                    src="{{ asset('bundles/app/img/sensiolabsinsight(1).png') }}"
                    class="img-responsive"
                    alt="PHP Project Quality Done Right"></a>
        </div>
    </div>
</div>