<div class="toc">
    <h4>Table of Contents</h4>
    <div class="toc-content">
        <ul>
            <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#">The Big Picture</a><ul>
                    <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#installing-symfony">Installing Symfony</a></li>
                    <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#understanding-the-fundamentals">Understanding the Fundamentals</a><ul>
                            <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#actions-and-controllers">Actions and Controllers</a></li>
                            <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#routing">Routing</a></li>
                            <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#templates">Templates</a></li>
                        </ul>
                    </li>
                    <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#working-with-environments">Working with Environments</a><ul>
                            <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#what-is-an-environment">What is an Environment?</a></li>
                        </ul>
                    </li>
                    <li><a class="reference internal" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html#final-thoughts">Final Thoughts</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>